<nav class="topbar" [class.hidden]="isHidden" [class.scrolled]="isScrolled">
  <div class="container">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/img/suit2.png" alt="Arsp's Logo">
      </a>
    </div>
    <ul class="menu">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About Us</a></li>
      <li><a routerLink="/ideas" routerLinkActive="active">Ideas</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/career" routerLinkActive="active">Careers</a></li>
      <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
    </ul>
  </div>
</nav>
