<div class="row justify-content-center"> &nbsp;
<div class="about-container">
    <h2>We Navigate Your Success in the Digital World</h2>
    <p>
      At Suitmedia, we believe that everyone deserves a guide to achieve digital excellence. We strive to make a difference in the digital world by providing innovative solutions and clever insights for their success as well as implementing purpose, process, and people to achieve our goals.
    </p>
    
    <div class="video-section">
      <h3>Watch Our Video</h3>
      <iframe 
        width="100%" 
        height="400" 
        src="https://www.youtube.com/embed/vQ04bhrhLDw" 
        title="YouTube video player" 
        frameborder="0" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen>
      </iframe>
    </div>
  
    <div class="join-us">
      <h2>Join Us Now!</h2>
      <p>
        Bergabunglah dengan kami dan jadilah bagian dari perjalanan sukses di dunia digital!
      </p>
      <button class="join-button">Bergabung Sekarang</button>
    </div>
  </div>
</div>